#container {
  width: 100%;
  
}

body {
  font: 400 1.875rem 'Poppins' sans-serif;
  color: var(--color-text);
}

h1 {
  color: var(--color-dark);
}

/* -=-=-=-=-=-=-=  h e a d e r -=-=-=-=-=-=-=-=-=-=-=*/
#header{
  width: 100%;
  border-bottom: .1rem solid #E4E4E4;
}
.header-nav {
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 0 12.3rem;
}

.logo {
  font:700 3rem 'Poppins', sans-serif;
  color: var(--color-dark);
}

.logo span {
  color: var(--color-primary);
}

.header-nav ul li {
  display: inline-block;
}



.header-nav ul a{
  color: var(--color-dark);
  font: bold 1.6rem DM sans, sans-serif;
  padding: 2.5rem 2rem;
}

.header-nav ul a:nth-child(1){
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

/* -=-=-=-=-=-= M A I N -=-=-=-=-=-=-=-==-*/


.start {
  height: 70rem;
  margin: 0 12.3rem;
  display: flex;
  border: 1px solid;
}

.start-text{
  display: flex;
  align-items: center;
  width: 35%;
}

.content-text {
  width: 50rem;
}

.content-text h1{
  color: var(--color-dark);
  font: bold 3.6rem 'Poppins', sans-serif;
  margin-bottom: 1.6rem;
}

.content-text p {
  font: 400 1.8rem DM Sans, Sans-serif;
  margin-bottom: 2.4rem;
  width: 35rem;
}

.content-text button{
  display: block;
  width: 21.8rem;
  height: 5rem;
  background-color: var(--color-primary);
  font: 700 1.6rem DM Sabs, Sans-serif;
  color: var(--background-content);
  border: none;
  border-radius: .4rem;
}

.start-image{
  border: 1px solid;
  width: 70%;
  display: flex;
  align-items: center;
}

.start-image img{
  width: 56rem;
}

