* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: var(--color-text);
  font: DM Sans;
  background-color: var(--bg-body);
  overflow-x: hidden;
}

#container {
  width: 136.6rem;
  margin: 0 auto;
}

h1 {
  color: var(--color-dark);
  font: bold 3.6rem 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%;

  /* Color button - Color-logo-edn - Nav-indication destaque-text - background-footer - aspas*/
  --color-primary: #69B99D;

  /* background-square-image -   */

  --color-segund: #CCF4E6;

  /*  color-text-geral - */

  --color-text: #767676;

  /*   color-tiltle - destimonial - text-navigation */

  --color-dark: #0F241D;

  /* background-content*/

    --bg-content: #fff;

  /*  GL O B A L */

  --bg-body: #e4e4e4;

}


.btn {
  width: 21.8rem;
  height: 5rem;
  background-color: var(--color-primary);
  font: 700 1.6rem DM Sabs, Sans-serif;
  color: var(--background-content);
  border: none;
  color: #ffffff;
  border-radius: .3rem;
}