/* -=-=-=-=-=-=-=  h e a d e r -=-=-=-=-=-=-=-=-=-=-=*/
#header {
  width: 100%;
  border-bottom: 0.1rem solid #e4e4e4;
  background-color: #ffffff;
}
.header-nav {
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12.3rem;
}

.logo {
  font: 700 3rem 'Poppins', sans-serif;
  color: var(--color-dark);
}

.logo span {
  color: var(--color-primary);
}

.header-nav ul li {
  display: inline-block;
}

.header-nav ul a {
  color: var(--color-dark);
  font: bold 1.6rem DM sans, sans-serif;
  padding: 2.5rem 2rem;
}

.header-nav ul a:nth-child(1) {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

/* -=-=-=-=-=-= M A I N -=-=-=-=-=-=-=-==-*/

#main-content {
 
  
}

/* *-*-*-*-*-*  I N I C I O *-*-*-*-*-*-*-*/

.start {
  height: 70rem;
  display: flex;
}

.start-text {
  display: flex;
  align-items: center;
  width: 37%;
}

.content-text {
  width: 39.6rem;
  margin-left: 12.3rem;
}

.content-text h1 {
  margin-bottom: 1.6rem;
}

.content-text p {
  font: 400 1.8rem DM Sans, Sans-serif;
  margin-bottom: 2.4rem;
  width: 35rem;
}

.content-text .btn {
  width: 21.8rem;
  height: 5rem;
  background-color: var(--color-primary);
  font: 700 1.6rem DM Sabs, Sans-serif;
  color: var(--background-content);
  border: none;
  color: #ffffff;
}

.start-image {
  width: 60%;
  height: 80vh;
}

.content-image {
  width: 66rem;
  height: 44.3rem;
  margin: 16.8rem 0;
  border-radius: 0.3rem;
  position: relative;
}

.border-image {
  border-top: 7rem solid var(--color-primary);
  border-right: 10rem solid var(--color-primary);
  width: 55rem;
  height: 38rem;
  position: absolute;
  top: -7rem;
  left: 20rem;
  z-index: -1;
  border-radius: .3rem;
}

.start-image img {
  width: 56.1rem;
  border-radius: 0.3rem;
  margin-left: 10rem;
}

/* +-+-+-+-+-+- S O B R E +-+-+-+-+-+-+-+-*/

#sobre {
  height: 76.6rem;
  display: flex;
  border-bottom: .1rem solid #a1c3b7;
}

.sobre-container-image {
  width: 50%;
}

.sobre-content-image {
  width: 68.3rem;
  height: 44.6rem;
  margin: 19.4rem 0;
  
}

.bg-decoration {
  width: 43rem;
  height: 30rem;
  box-shadow: 0 -3.4rem 0 var(--color-segund);
  position: absolute;
}


.sobre-content-image img {
  width: 61.7rem;
}

.sobre-container-text {
  width: 100%;
  
}

.sobre-content-text {
  margin: 19.4rem 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 70rem;
}

.sobre-container-text p {
  margin-bottom: 2.4rem;
}

/* +*+*+*+* S E R V I C E S +*+*+*++* */

#servicos {
  height: 71.1rem;
  border-bottom: .1rem solid #a1c3b7;
}

.servicos-container {
  width: 100%;
  margin-top: 16rem;
}

.servicos-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos-text p {
  font: 400 1.8rem DM Sans;
  width: 52.3rem;
  text-align: center;
}

.servicos-descricao {
  margin-top: 6.4rem;
  display: flex;
  justify-content: center;
}

.box-services {
  width: 35.2rem;
  height: 35.2rem;
  border-bottom: 0.4rem solid var(--color-primary);
  box-shadow: 0 0 1rem #464646;

  flex-direction: column;
  display: flex;
  align-items: center;
}

.box-services:nth-child(2) {
  margin: 0 3.2rem;
}

.box-services img {
  width: 8rem;
  margin-top: 5.8rem;
  margin-bottom: 2.4rem;
}

.box-services h2 {
  font: bold 2.4rem 'Poppins';
  color: var(--color-dark);
}

.box-services p {
  color: var(--color-text);
  font: 300 1.6rem DM Sans;
  margin-top: 1.2rem;
  width: 25.6rem;
  text-align: center;
}

/*+-+-+-+-+-+-+-+- D E P O I M E N T O   */

#depoimento-container {
  height: 82.6rem;
  width: 100%;
  border-bottom: .1rem solid #a1c3b7;
}

.title-depoim {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-depoim h1 {
  width: 48.1rem;
  text-align: center;
  margin-top: 16rem;

}

.depoim-content {
  display: flex;
  justify-content: center;
}

.box-depoim {
  width: 54.4rem;
  height: 26.4rem;
  box-shadow: 0 0 1rem #464646;
  margin-top: 6.4rem;
  border-radius: 0.3rem;
}

.box-depoim img {
  width: 2rem;
  position: relative;
  top: 0.5rem;
}

.box-depoim p {
  width: 55rem;
  height: 11rem;
  padding: 5.2rem;
  font: 300 1.6rem DM Sans;
}

.box-depoim:nth-child(1) {
  margin-right: 3.2rem;
}

.foto-user {
  display: flex;
  padding: 5.2rem;
}

.foto-user img {
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 2.4rem;
}

.foto-user p {
  height: 2.8rem;
  padding: 0;
  margin: 3.2rem .8rem;
}


/*      C O N T A T O       */

.contato-content {
  height: 58.3rem;
  display: flex;
}

.grup-contato-text {
  width: 50%;
}

.contato-text {
  width: 40.4rem;
  margin: 16rem 0 16rem 12.3rem;
}

.contato-text p {
  margin-top: 1.2rem;
  font: 400 1.6rem DM Sans;
}

.contato-text .btn {
  margin-top: 2.4rem;
}

.grup-contato {
  width: 50%;
}

.contato {
  width: 26.6rem;
  margin: 22.4rem 30.9rem 22.3rem 15rem;
}

.icons-contato {
  width: 2.4rem;
  color: var(--color-primary);
}

.contato p {
  font: 400 1.8rem DM Sans;
}

.contato p:nth-child(2) {
  padding: 3.2rem 0;
}


/*  +/+/++/+/+/+/++/  F O O T E R   +/+/+/+/+/+  */

#footer {
  height: 23.7rem;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: .4rem;
}

.box-logo-footer {
  width: 100%;
  height: auto;
  display: flex;
}

.logo-footer {
  width: 24.9rem;
  margin: 6.1rem 0 0 12.3rem;
  width: 50%;
}

.logo-footer a {
  color: #ffffff;
  font: bold 3.2rem "Poppins";
  margin-bottom: 2.4rem;
}

.span-logo-footer {
  color: var(--color-dark);
}

.logo-footer p {
  color: #ffffff;
  font: 400 1.5rem DM Sans;
  line-height: 3rem;
}

.rede-sociais {
  height: 23.7rem;
}

.grup-rede-social {
 height: 23.7rem;
 width: 59.7rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.fa-facebook,
.fa-instagram,
.fa-youtube {
  padding: 4rem;
  font-size: 2rem;
  color: #ffffff;
}

