<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>originSix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!--  STYLE CSS  -->

    <link rel="stylesheet" href="../../public/css/global.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />

    <!-- F O N T W E S O M E -->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- F O N T S   G O O G L E -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--  CONTAINER GLOBAL  -->
    <div id="container">
      <!--  HEADER  -->
      <header id="header">
        <nav class="header-nav">
          <a class="logo" href="#"> beaut<span class="color-logo">salon. </span> </a>

          <ul>
            <a href="#">
              <li>Início</li>
            </a>
            <a href="#">
              <li>Sobre</li>
            </a>
            <a href="#">
              <li>Serviço</li>
            </a>
            <a href="#">
              <li>Depoimento</li>
            </a>
            <a href="#">
              <li>Contato</li>
            </a>
          </ul>
        </nav>
        <!--  NAV END-->
      </header>
      <!--  HEADER END-->

      <!-- M A I N    S T A R T -->

      <main id="main-content">
        <div class="start">
          <section class="start-text">
            <div class="content-text">
              <h1>Saúde natural para os seus cabelos</h1>
              <p>
                Um salão exclusivo em São Paulo, especializado em tratamentos
                naturais
              </p>

              <button class="btn">Agenda um horário</button>
            </div>
            <!--  content text end -->
          </section>

          <section class="start-image">
            <div class="content-image">
              <div class="border-image"></div>
              <img
                src="https://images.unsplash.com/photo-1562322140-8baeececf3df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                alt="Imagem mostra uma mulher fazendo uma escova no cabelo"
              />
            </div>
          </section>
        </div> <!-- start end-->

        <!--  S O B R E -->
        <section id="sobre">
            <div class="sobre-container-image">
              <div class="sobre-content-image">
                <div class="bg-decoration">
                  
                </div>
                <img src="https://images.unsplash.com/photo-1559599101-f09722fb4948?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" 
                alt="3 cabeleiras que trabalham no salão">
              </div>
            </div>

            <div class="sobre-container-text">
              <div class="sobre-content-text">
                <h1>Sobre nós</h1>
                <p>
                  Lorem ipsum dolor sit amet, 
                  consectetur adipisicing elit. 
                  Laboriosam itaque rerum suscipit 
                  alias, odit, dolorum, cumque 
                  accusantium molestias id eligendi assumenda 
                  nobis excepturi doloribus omnis consequuntur 
                  perferendis optio dolorem sed?
                </p>
                <p>
                  Lorem ipsum dolor sit amet, 
                  consectetur adipisicing elit. 
                  Laboriosam itaque rerum suscipit 
                  alias, odit, dolorum, cumque 
                  accusantium molestias id eligendi assumenda 
                  nobis excepturi doloribus omnis consequuntur 
                  perferendis optio dolorem sed?
                </p>
                <p>
                  Lorem ipsum dolor sit amet, 
                  consectetur adipisicing elit. 
                  Laboriosam itaque rerum suscipit 
                  alias, odit, dolorum, cumque 
                  accusantium molestias id eligendi assumenda 
                  nobis excepturi doloribus omnis consequuntur 
                  perferendis optio dolorem sed?
                </p>
              </div>
            </div>

        </section> <!--  S O B R E   E N D  -->
      
      <!--  S E R V I Ç O S   -->
      <section id="servicos">
        <div class="servicos-container">
          <div class="servicos-text">
            <h1>Serviços</h1>
            <p>
              Com mais de 10 anos no mercado, 
              o Beautysalon já conquistou clientes
              de inúmeros países com seu tratamentos
              exclusivos e totamente naturais
            </p>
          </div>
        </dv>

        <div class="servicos-descricao">
          <div class="terapia box-services">
            <img src="../../public/img/avatar-cabelo.svg" alt="">
            <h2>Terapia Capilar</h2>
            <p>
              Terapia completa ára couro cabeludo e fios, 
              protegendo todos os tipos de cabelos, inclusive
              os longos e finos
            </p>
          </div>
                          
          <div class="cortes box-services">
            <img src="../../public/img/corte_tesoura.svg" alt="">
            <h2>Cortes</h2>
            <p>
              A nossa equipe é repleta de profissionais renomados, famosos por lançarem tendências com cortes diferenciados e clássicos.
            </p>
          </div>
          <div class="tratamentos box-services">
            <img src="../../public/img/prod_tratam.svg" alt="">
            <h2>Tratamento</h2>
            <p>
              O beautysalon conta com diversos tratamentos naturais e totalmente veganos, para qualquer tipo de cabelo.
            </p>
          </div>
        </div>
        
      </section>  <!--  S E R V I C E S    E N D  -->

      <section id="depoimento-container">
          <div class="title-depoim">
            <h1>Depoimentos de quem já passou por aqui</h1>
          </div>
          <div class="depoim-content">
          <div class="post-depoim box-depoim">
            <p>
              <img src="../../public/img/Aspas.svg" alt="">
              Eu sou cliente do Beautysalon há 5 anos e não troco por nada! Certamente meu cabelo mudou muito depois que comecei a tratar somente com produtos naturais e veganos. São profissionais incríveis e qualificados.   
            </p>
            <div class="foto-user">
              <img src="../../public/img/user2.svg" alt="">
              <p>Luna Falcão</p>
            </div>
          </div>
          <div class="post-depoim box-depoim">
            <p>
              <img src="../../public/img/Aspas.svg" alt="">  Minha mãe frequenta o salão há anos e me levou um dia para conhecer. Minha experiência foi incrível, eu continuo fazendo o a terapia capilar e isso salvou o meu cabelo. Adoro todos os profissionais do Beautysalon.  
            </p>
            <div class="foto-user">
              <img src="../../public/img/user.svg" alt="">
              <p>Wanessa Souza</p>
            </div>

          </div>
          
        </div>
      </section> <!--  E N D   D E P O I M E N T O  -->

      <!-- C O N T A T O   -->

      <section id="contato-container">
        <div class="contato-content">
          <div class="grup-contato-text">
          <div class="contato-text">
             <h1>Entre em contato com a gente</h1>
              <p>
                Entre em contato com a Beautysalon, queremos tirar suas dúvidas, ouvir suas críticas e sugestões.
              </p>
              <button class="btn">
                <i class="fab fa-whatsapp"></i> Entre em contato
              </button>
          </div>
         </div>
          <div class="grup-contato">
            <div class="contato">
            <p>
              <i class="fas fa-phone icons-contato"></i>
              (11) 95565-5223
            </p>
            <p>          
              <i class="fas fa-map-marker-alt icons-contato"></i>
              Rua Maciel Monteiro, 530
            </p>
            <p>
              <i class="far fa-envelope icons-contato"></i>
              contato@conato.com.br
            </p>
          </div>

          </div>
        </div>
      </section>

      <footer id="footer">
        <div class="box-logo-footer">
          <div class="logo-footer">
              <a href="#"> 
                <span class="span-logo-footer"> 
                  beauty</span>salon.
              </a>
              <p>&copy; Beautysalon.</p>
              <p>&reg; Todos os direitos reservados</p>
          </div>

          <div class="rede sociais">
            
            <div class="grup-rede-social">
              <a href="">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="">
                <i class="fab fa-youtube"></i>
              </a>
            </div>

          </div>
        </div>
      </footer>
      <!-- C O N T A T O   E N D  -->
      </main>

      <!--  C O N T A I N E R    E N D  -->
    </div>
    <!--  CONTAIONER END  -->

    <script src="../../public/scripts/script.js"></script>
  </body>
</html>
